.root
{
    margin: 30px auto;
}

.score
{
    padding-left: 30px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 300px;
}

.status{
    margin-bottom: 20px;
    padding-left: 30px;
}